      /* CONFIG GLOBAL */
      *{
        margin: 0;
    }
    #particles-js{
        background-color: #000000;
        background-image: linear-gradient(-180deg, #000000 0%, #3b3e42 94%);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
    }

    /* .section-home,
    .section-about,
    .section-projects,
    .section-skills,
    .section-certificates{
      transition: 1s;
    } */

    /* CURSOR CIRCULO */
      .cursor {
      z-index: 999; 
      position: fixed;
      background: #2696E8;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      pointer-events: none;
      box-shadow: 0 0 20px #2696E8, 0 0 60px #2696E8, 0 0 100px #2696E8;
      animation: colors 5s infinite;
    }

    .cursor:before{
      content: '';
      position: absolute;
      background: #2696E8;
      width: 50px;
      height: 50px;
      opacity: 0.2;
      transform: translate(-30%, -30%);
      border-radius: 50%;
    }
/* FIN CONFIG GLOBAL */
/*///////// SECTION HOME ////////// */

    .texto1,
    .texto2,
    .texto3{
        top: 8rem;
        left: 4rem;
        margin: 5rem;
        position: absolute;
        font-family: 'Zen Tokyo Zoo', cursive;
        font-size: 3rem;
        font-style: italic;
    }

    .texto1{
        color: rgb(173, 173, 173);
        z-index: 4;
    }
    .texto2{
        color: rgb(25, 199, 202);
        opacity: 0.5;
        z-index: 3; 
        /* animation: animacion2 0.8s 3;  */
        animation: animacion4 6s infinite linear; 

    }
    .texto3{
        color: rgb(211, 25, 183);
        opacity: 0.5;
        animation: animacion1 1s 3;
        animation: animacion3 6s infinite linear;
        z-index: 2;
    }
    .texto4{
        position: absolute;
        color: white;
        top: 17rem;
        left: 8.8rem;
        font-size: 2rem;
        /* font-family: 'Zen Tokyo Zoo', cursive; */
        font-family: 'Turret Road', cursive;
        font-weight: bold;
        /* transform: skew(-20deg); */
        /* Joyride Round */
        text-shadow: 0.5px 0.5px 0.5px white;
    }
    .texto4:hover{
      transition: 0.7s;
    }

    .texto5{
      position: absolute;
      color: #eaeaea;
      top: 20rem;
      left: 8.9rem;
      font-size: 2rem;
      font-weight: 100;
      font-family: 'Turret Road', cursive;

    }
    :root{
      --bordeBoton: linear-gradient(to right, tomato 0%, gold 100%);
    }
    .boton{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25rem;
        left: 8.8rem;
        width: 15rem;
        height: 2.5rem;
        transform: skew(-20deg);
        border-radius: 1rem;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        cursor: pointer;
        background: none;
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        border: 2px solid white;
        overflow: hidden;
        animation: botonBorde 2s infinite linear;
    }
    @keyframes botonBorde {
      0%, 100%{
        /* background: transparent; */
        box-shadow: none;
        /* border: 2px solid white; */
      }
      50%{
        /* border: 2px solid black; */
        background: #1d496b;
        box-shadow: 0 0 20px rgba(38, 150, 232, 0.2),
        0 0 60px rgba(38, 150, 232, 0.2),
        0 0 100px rgba(38, 150, 232, 0.2);
        /* opacity: 0.2; */
      }
    }
    .boton::before{
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: #284960;
      background-image: linear-gradient(150deg, #7e2d7d 0%, #313131 98%);
      left: -15rem;
      top: -1rem;
      width: 15rem;
      /* animation: botonProyectos 1s ease; */
    }
    .boton:hover::before{
      transform: translateX(100%);
      transition: 1s;
    }
    /* TEXTO CV dentro de BOTON*/
      .cv{
      color: white;
      font-size: 1.2rem;
      font-family: sans-serif;
      transform: skewX(-5deg);
      z-index: 9;
      font-family:  'Courier New', Courier, monospace;
      font-weight: bold;
    }


 

    /* /////  LOGO /////// */
    .logo{
      top: 0.4rem;
      left: 0.4rem;
      /* cursor: pointer; */
      animation: girarRapido 10s infinite linear;

    }

    .content-transicion{
      display: none;
      width: 100%;
      justify-content: flex-start;
      align-items: flex-end;
      height: 100vh;
      position: absolute;
    }
    .transicion{
      background-color: #090909;
      background-image: linear-gradient(-300deg, #172d54 0%, #000000 84%);
      /* border-top: 5rem solid rgba(18, 21, 23, 0.1);
      border-right: 5rem solid rgba(37, 32, 37, 0.1); */
      border-radius: 90% 90% 90% 90% / 90% 90% 50% 90%;
      /* transform: skew(10deg, 30deg), rotate(-350deg);  */
      z-index: 9;
      /* animation: transicion 2s ease-in-out; */
    }

    @keyframes transicion{
      0%,100%{
        width: 1rem;
        height: 1rem;
        margin: -100px;
      }
      50%{
        width: 200vw;
        height: 200vh;
        margin: -300px;
      }
    }

    @keyframes prueba{
      0%,100% {
        transform: translate(0, 0); /* Inicio en la posición inicial (0, 0) */
      }
      50% {
        transform: translate(32rem, 15rem); /* Final en la posición diagonal (20rem, 20rem) */
      }
    }
   
    #engranaje{
      position: fixed;
      width: 5rem;
      /* animation: engranaje 6s infinite linear; */
      transform: rotate(360);
      z-index: 5;
      opacity: 0.9;
    }
    #casco{
      position: fixed;
      width: 5rem;
      z-index: 6;
    }

    /* CONTENEDOR DE LOS CIRCULOS DEL MENU */
    .menu{
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        z-index: 99;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .active{
        position: absolute;
        z-index: 9;
        top: 2rem;
        width: 3rem;
        height: 3rem;
        background: #eaeaea;
        border: 3px solid #c1c1c1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 9;
    }
    .active i{
        color: #0b0b0b;
    }
    
    .circle{
        position: absolute;
        z-index: 9;
        top: 2rem;
        width: 3rem;
        height: 3rem;
        background: #0b0b0b;
        border: 3px solid #c1c1c1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 9;
    }
    .circle::before {
      content: ""; /* Agregamos contenido vacío al pseudo-elemento */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0b0b0b;
      border-radius: 50%;
      z-index: 1; /* Cambiado a -1 para colocar el pseudo-elemento detrás del contenido */
    }
    .circle:hover::before{
      animation: btnDetras 1.2s infinite;
    }
    .circle:hover{
      animation: girarRapido 5s 1;
    }
    .home{
      left: 70rem;
    }
    .aboutMe{
      left: 75rem;
    }
    .projects{
      left: 80rem;
    }
    .skills{
      left: 85rem;
    }
    .certificates{
      left: 90rem;
    }

    i{
      color: #c1c1c1;
      scale: 2;
      cursor: pointer;
      z-index: 9;
    }
    /* /////// FOOTER //////// */
    .footer{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .copyright{
      color: white;
      position: fixed;
      font-size: 0.7rem;
      font-family: sans-serif;
      bottom: 1rem;
    }
    .copyright::after{
      content: '';
      position: absolute;
      height: 1px;
      left: 10rem;
      width: 200rem;
      bottom: 0.5rem;
      background: white;
    }
    .copyright::before{
      content: '';
      position: absolute;
      height: 1px;
      right: 10rem;
      width: 200rem;
      bottom: 0.5rem;
      background: white;
    }

       /* ////// ANIMACIONES //////*/
    @keyframes animacion1 {
            0%{
                left: 4rem;
                
            }
            25%{
                left: 4.2rem;
            }
            50%{
                left: 4rem;
            }
            75%{
                left: 4.4rem;
            }
            100%{
                left: 4rem;
            }
        }
    @keyframes animacion2 {
            0%{
                left: 4rem;
            }
            25%{
                left: 3.7rem;
            }
            50%{
                left: 4rem;
            }
            75%{
                left: 3.4rem;
            }
            100%{
                left: 4rem;
            }
        }
    @keyframes animacion3 {
          0% {
            left: 4rem;
        }
        20% {
            left: 4.3rem;
        }
        40% {
            left: 4rem;
        }
        60% {
            left: 4.6rem;
        }
        80% {
            left: 4rem;
        }
        100% {
            left: 4.2rem;
    } 
        }
    @keyframes animacion4 {
            0%{
              left: 4rem
            }
            20%{left: 3.6rem;}
            40%{left: 4rem}
            60%{left: 3.4rem;}
            80%{left: 4rem}
            100%{left: 4rem}
        }
    @keyframes botonProyectos{
        0%{
            left: -10rem;
        }

        100%{
          left: 0rem;
        }
    }
    @keyframes girarRapido{
      0%, 100% {
        transform: rotate(0deg);
      }

      10%, 90% {
        transform: rotate(-360deg);
      }
    }
    @keyframes engranaje{
      0%{
            transform: rotate(0deg);
        }

        100%{
            transform: rotate(-360deg);
        }
    }
    
    @keyframes btnDetras {
      0%{
        transform: scale(0.4);
        opacity: 0.9;
        background: #0b0b0b;
      }

      90%,100%{
        transform: scale(2);
        opacity: 0;
        background: #c1c1c1;
      }
    }
    @keyframes btnMenu {
      0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    }
    @keyframes colors{
      0%{
        filter: hue-rotate(0deg);
      }
      100%{
        filter: hue-rotate(360deg);
      }
    }
    @keyframes teclear {
      from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      }
      to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
    @keyframes teclear-reverse {
      from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
      to {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      }
    } 


    
    .content-logoAnimado{
      display: none;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 100vh;
      position: absolute;
    }
    .cascoAnimado,
    .engranajeAnimado{
      width: 12rem;
      height: 12rem;
      position: absolute;
    }
    .fondoAnimado{
      width: 18rem;
      height: 12rem;
      position: absolute;
      animation: fondoAnimado 2s 1;
      z-index: 10;
    }
    @keyframes fondoAnimado{
      0%{
        bottom: 10rem;
        opacity: 0;
      }
      50%{
        opacity: 0.5;
      }
      100%{
        opacity: 0;
        bottom: 15rem;
      }
    }
    
    .cascoAnimado{
      animation: cascoAnimado 2s 1;
      z-index: 12;
    }
    .engranajeAnimado{
      animation: engranajeAnimado 2s 1;
      z-index: 11;
    }
    @keyframes cascoAnimado {
      0%{
        bottom: 16.2rem;
        transform: rotate(360deg);
      }
      50%{
        bottom: 20rem;
        transform: rotate(-360deg);
      }
      100%{
        bottom: 16.2rem;
        transform: rotate(-360deg);
      }
    }
    @keyframes engranajeAnimado{
      0%{
        transform: rotate(360deg);
        bottom: 16.2rem;
      }
      10%{
        transform: rotate(-360deg);
        bottom: 17rem;
      }
      20%{
        transform: rotate(360deg);
      }
      50%{
        transform: rotate(-360deg);
        bottom: 16.2rem;
      }
      100%{
        transform: rotate(-300deg);
        bottom: 16.2rem;
      }
    }
    /* /////////////// */
    
    /* /////// SECTION ABOUT ME //////// */
    #about{
      width: 100%;
      display: flex;
      border: 4px solid red;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-top: 15rem;
    }
    .content-description{
      display: flex;
      position: absolute;
      width: 100%;
      height: 12rem;
      justify-content: center;
      align-items: center;
      border: 4px solid blue;
    }
    .content-tituloAbout{
      display: flex;
      border: 5px solid brown;
      position: absolute;
      top: 10rem;
      width: 100%;
      height: 5rem;
      justify-content: center;
      align-items: center;
    }
    .content-contacto{
      width: 100%;
      height: 10rem;
      border: 4px solid green;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
    }
    .tituloAbout{
      color: rgb(173, 173, 173);
      margin: 5rem;
      position: absolute;
      font-family: 'Zen Tokyo Zoo', cursive;
      font-size: 3rem;
      font-style: italic;
      text-align: center;
    }
    .textoAbout{
      top: 10rem;
      left: 3rem;
    }
    .foto{
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      margin-right: 7rem;
      position: relative;
      z-index: 8;
    }
    .foto::before{
      content: ' ';
      position: absolute;
      width: 50rem;
      height: 50rem;
      background: wheat;
      z-index: 7;
    }
    .textoAbout{
      width: 40rem;
      color: white;
      font-family: sans-serif;
      font-size: 1.2rem;
    }
    .linkedin,
    .github,
    .email,
    .phone{
      width: 3rem;
      height: 3rem;
    }
    .contacto{
      width: 4rem;
      height: 4rem;
      margin-right: 4rem;
      cursor: pointer;
    }
    /* RESPONSIVO */
    @media (max-width: 1500px){
      /* HOME END */
      .content-transicion{
        align-items: flex-start;
        justify-content: flex-end;
      }
      .texto1,.texto2,.texto3{
        font-size: 2.5rem;
      }
      .texto4{
        font-size: 1.5rem;
        top: 16rem;
      }
      .texto5{
        font-size: 1.2rem;
        top: 18rem;
      }
      .boton{
        top: 20rem;
      }
      .home,
      .aboutMe,
      .projects,
      .skills,
      .certificates{
        transition: 1s;
        left: 1.5rem;
      }
      .home{
      top: 10rem;
      }
      .aboutMe{
        top: 15rem;
      }
      .projects{
        top: 20rem;
      }
      .skills{
        top: 25rem;
      }
      .certificates{
        top: 30rem;
      }
      /* HOME END */
    }
    @media (max-width: 800px){
      /* HOME */
      .content-transicion{
        align-items: flex-start;
        justify-content: flex-end;
      }
      .texto1,.texto2,.texto3{
        font-size: 1.5rem;
      }
      .texto4{
        font-size: 1.2rem;
        top: 15rem;
      }
      .texto5{
        font-size: 1.2rem;
        top: 17rem;
      }
      /* HOME END */
      /* ABOUT */
      .content-description {
        flex-direction: column;
      }
      .tituloAbout{
        bottom: 2rem;
      }
      .textoAbout {
        font-size: 0.9rem;
        width: 18rem;
        text-align: center;
      }
      .foto{
        margin: 0;
        margin-bottom: 1.2rem;
      }
      .content-contacto{
        top: 35rem;
      }
      .linkedin,
      .github,
      .email,
      .phone{
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
      }
    
      /* ABOUT END */
    }
    
    @media (max-width: 600px){
      /* HOME */
      .content-transicion{
        align-items: flex-start;
        justify-content: flex-end;
      }
      .texto1,.texto2,.texto3{
        font-size: 1.2rem;
        text-align: center;
      }
    
      .texto4{
        font-size: 1rem;
        text-align: center;
        top: 16rem;
        left: 10rem;
      }
      .texto5{
        text-align: center;
        font-size: 1rem;
        top: 18rem;
        left: 8rem;
      }
      .boton{
        top: 22rem;
        scale: 0.8;
      }
      /* HOME END */
    }
    /*
.textoAbout{
  top: 12rem;
  left: 30rem;
  margin: 5rem;
  color: #c1c1c1;
  position: absolute;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-style: italic;
        width: 50rem;
      }
      .forma{
        width: 17rem;
        height: 17rem;
        background: white;
        border: 2px solid gray;
        position: absolute;
        border-radius: 50%;
        top: 12rem;
        left: 15rem;
        animation: forma1 50s infinite linear;
      opacity: 0.5;
      z-index: 6;
    }
    .forma3{
      width: 17rem;
      height: 17rem;
      background: white;
      position: absolute;
      border-radius: 50%;
      top: 12rem;
      left: 15rem;
      animation: forma3 15s infinite linear;
      opacity: 0.01;
      z-index: 7;
    }
    .forma2{
      width: 17rem;
      height: 17rem;
      background: rgb(41, 75, 126);
      border: 2px solid white;
      position: absolute;
      border-radius: 50%;
      top: 12rem;
      left: 15rem;
      animation: forma2 11s infinite linear;
      opacity: 0.1;
      z-index: 7;
    }
    .foto{
      width: 15rem;
      height: 15rem;
      top: 12rem;
      left: 15rem;
      position: absolute;
      border-radius: 50%;
      z-index: 8;
    }

        /* contacto */
        /* .content-contacto{
          position: absolute;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          top: 35rem;
          width: 100%;
          z-index: 6;
        }
        .contacto{
          width: 4rem;
          height: 4rem;
          margin-right: 4rem;
          cursor: pointer;
        }
    
        .content-formas-contacto{
          position: absolute;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          top: 35rem;
          width: 100%;
          z-index: 5;
        }
        .forma-contacto{
          width: 4rem;
          height: 4rem;
          background: white;
          border-radius: 50%;
          margin-right: 4rem;
          border: 2px solid white;
          animation: forma2 11s infinite linear;
          opacity: 0.2;
        }
        .content-formas-contacto-segundo{
          position: absolute;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          top: 35rem;
          width: 100%;
          z-index: 5;
        }
        .forma-contacto-segundo{
          width: 4rem;
          height: 4rem;
          background: white;
          border-radius: 50%;
          margin-right: 4rem;
          border: 2px solid white;
          animation: forma1 13s infinite linear;
          opacity: 0.1;
        }
        
        .content-description{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          height: 10rem;
          position: relative;
        }
         */
         
        
        
@keyframes girar{
      from{
        transform: rotate(360deg);
      }
      to{
        transform: rotate(-360deg);
        }
      }
    @keyframes forma1 {
      0% {
          border-radius: 20% 40% 60% 20%;
          transform: skew(0deg, 0deg) rotate(0deg);
      }
      25% {
          border-radius: 70% 40% 30% 50%;
          transform: skew(10deg, 20deg) rotate(90deg);
      }
      50% {
        border-radius: 30% 50% 20% 40%;
        transform: skew(-20deg, 5deg) rotate(180deg);
      }
      75% {
          border-radius: 50% 20% 70% 10%;
          transform: skew(15deg, -10deg) rotate(270deg);
        }
      100% {
          border-radius: 20% 40% 60% 20%;
          transform: skew(0deg, 0deg) rotate(360deg);
        }
      }
    @keyframes forma2 {
      0% {
          border-radius: 30% 20% 70% 10%;
          transform: skew(0deg, 0deg) rotate(0deg);
        }
      25% {
          border-radius: 40% 50% 30% 60%;
          transform: skew(20deg, -10deg) rotate(90deg);
        }
      50% {
          border-radius: 10% 40% 50% 20%;
          transform: skew(5deg, 15deg) rotate(180deg);
      }
      75% {
          border-radius: 60% 30% 20% 50%;
          transform: skew(-15deg, 10deg) rotate(270deg);
        }
      100% {
          border-radius: 30% 20% 70% 10%;
          transform: skew(0deg, 0deg) rotate(360deg);
        }
    }

    @keyframes forma3 {
      0% {
                border-radius: 10% 70% 20% 30%;
                transform: skew(0deg, 0deg) rotate(0deg);
            }
            25% {
                border-radius: 50% 30% 40% 20%;
                transform: skew(10deg, 20deg) rotate(90deg);
            }
            50% {
                border-radius: 20% 50% 10% 40%;
                transform: skew(-5deg, 25deg) rotate(180deg);
            }
            75% {
                border-radius: 40% 20% 60% 30%;
                transform: skew(-20deg, 10deg) rotate(270deg);
            }
            100% {
                border-radius: 10% 70% 20% 30%;
                transform: skew(0deg, 0deg) rotate(360deg);
            }
    }


      